@import 'Src/core/common.scss';

.register-form {
  height: 100%;
  width: 100%;
  color: $color-light;
  padding: 10px 30px;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.2);
  overflow-y: auto;

  .form {
    form {
      input[type='number']::-webkit-inner-spin-button,
      input[type='number']::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
      }

      input {
        border: none;
        padding: 10px 10px;
        width: 100%;
        margin: 5px 0;
        font-size: 1.1rem;
        background: transparent;
        border-style: none none solid none;
        border-width: 2px;
        color: #ffffff;

        &:focus {
          outline: none;
        }

        &::placeholder {
          color: #eeeeee;
        }
      }

      .error {
        color: pink;
        height: 15px;
        font-size: 12px;
        display: block;
      }

      button {
        border-radius: 2px;
        padding: 15px 30px;
        border: none;
        background: #dfdfdf;
        margin-top: 15px;
        font-size: 1rem;
      }
    }
  }
}
