@import 'Src/core/common.scss';

.stats-container {
  height: 100%;
  width: 100%;
  @include card();
  text-align: center;
  overflow: hidden;
  position: relative;

  .heading {
    @include heading();
  }

  .stats {
    background: $color-light;
    height: calc(100% - 55px);
    padding: 10px;
    text-align: left;
    word-wrap: none;
    overflow: auto;
    @include scrollbar();

    & > div {
      padding: 3px;
      border-bottom: solid thin rgba(100, 100, 100, 0.2);
    }
  }
}
