@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
@import 'Src/core/common.scss';

* {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;

  .app-container {
    &.background {
      background-position: bottom left;
      background-size: cover;
      background-repeat: no-repeat;
      background-attachment: fixed;
    }

    min-height: 100vh;
  }
}
