@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
@import 'Src/core/common.scss';

* {
  font-family: 'Raleway', Arial, Helvetica, sans-serif;
  font-weight: 300;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

body {
  margin: 0;
  min-height: 100vh;

  .app-container {
    height: 100vh;
    overflow-y: auto;
    background: url('../../public/landing.png');
    background-position: center center;
    background-size: cover;
    min-height: 100vh;

    .hr {
      border-bottom: solid thin rgba(255, 255, 255, 0.2);
      width: calc(100% - 40px);
      margin-left: 40px;
    }
  }
}

@media only screen and (max-width: 600px) {
  body {
    .app-container {
      background: url('../../public/landingm.png');
      height: 100vh;
      overflow-y: auto;
      background-position: center center;
      background-size: cover;
      min-height: 100vh;
    }
  }
}
