$color-primary: #000ab8;
$color-info: #47bfdb;
$color-success: #4eb662;
$color-danger: #e05454;
$color-disabled: #666666;

$color-light: #ffffff;
$color-dark: #333333;
$color-text-light: #ffffff;

$radius: 6px;
$card-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.3);

@function gr($length) {
  @return $length * 1.61803398875;
}

@mixin card() {
  box-shadow: $card-shadow;
  border-radius: $radius;
}

@mixin gradient() {
  background: linear-gradient(
    to bottom right,
    darken($color-primary, 30),
    $color-primary
  );
}
