$color-primary: #000ab8;
$color-info: #47bfdb;
$color-success: #4eb662;
$color-danger: #e05454;
$color-disabled: #666666;

$color-light: rgba(245, 245, 245, 0.9);
$color-dark: rgba(10, 10, 10, 0.8);
$color-text-light: #ffffff;

$radius: 7px;
$card-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.3);

@function gr($length) {
  @return $length * 1.61803398875;
}

@mixin card() {
  box-shadow: $card-shadow;
  border-radius: 20px;
}

@mixin scrollbar() {
  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: $color-light;
  }

  &::-webkit-scrollbar {
    width: 3px;
    background-color: $color-light;
  }

  &::-webkit-scrollbar-thumb {
    background-color: $color-dark;
  }
}

@mixin heading() {
  background: $color-dark;
  color: $color-light;
  height: 55px;
  padding: 15px;
  font-size: 1.2rem;
  text-align: center;
}

@mixin gradient() {
  background: linear-gradient(
    to bottom right,
    darken($color-primary, 30),
    $color-primary
  );
}
