@import 'Src/core/common.scss';

.game-page {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;

  & > div {
    height: calc(100vh - 139px - 7vh);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5vh 2.5vw;
    width: 30%;

    & > * {
      margin: 7px 0;
    }

    &:nth-child(2) {
      width: 40%;
    }
  }
}

@media only screen and (max-width: 1100px) {
  .game-page {
    & > div {
      padding: 5vh 1vw;
    }
  }
}

@media only screen and (max-width: 900px) {
  .game-page {
    & > div {
      width: 50%;
      height: 400px;
      padding: 1.25vh 2.5vw;
      &:nth-child(1) {
        order: 2;
      }
      &:nth-child(2) {
        order: 1;
        height: calc(100vh - 139px - 10vh);
        width: 100%;
      }
      &:nth-child(3) {
        order: 3;
      }
    }
  }
}

@media only screen and (max-width: 450px) {
  .game-page {
    & > div {
      width: 100%;
      padding: 1.25vh 5vw;
    }
  }
}
