@import 'Src/core/common.scss';

.login-page {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: calc(100% - 60px);

  .form-container {
    height: 100%;
    overflow: hidden;
    width: 400px;
  }
}
